.table-container {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.table-header-item {
  background-color: '#000000';
  text-align: center;
  border-bottom: 1px solid black;
}
