#header-menu-popper {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 5px 0 rgba(154, 161, 171, 0.4);
  width: 230px;

  img {
    margin: 10px;
    width: 18px;
    height: 18px;
  }
  li {
    padding: 0px;
    margin: 0px;
    height: 40px;
  }
}
