.main-header-container {
  .logo {
    margin: 25px 10px 25px 0px;
  }
  .header-button {
    margin: 15px 10px 15px 0px;
    padding: 10px 15px;
    min-height: 40px;
  }
  .active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-weight: 500;
  }
  hr.vertical {
    height: 38px;
    margin: 0px 10px;
    color: '#ffffff';
  }
}
